<?xml version="1.0"?>
<robot name="laser_rahcm_visualization" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Importa os módulos -->
  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="arm.urdf.xacro"/>
  <xacro:include filename="wheel.urdf.xacro"/>

  <!-- Define materiais -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <!-- Corpo principal -->
  <xacro:base name="base"/>
  <!-- Braços e Rodas -->
  <xacro:arm name="arm_front_left" parent="base_link" xyz="-0.65 0.45 -0.3" rpy="0 0.6 0"/>
  <xacro:wheel name="wheel_front_left" parent="arm_front_left" xyz="0 0 -0.3" rpy="0 0 0"/>
  
  <xacro:arm name="arm_front_right" parent="base_link" xyz="-0.65 -0.45 -0.3" rpy="0 0.6 0"/>
  <xacro:wheel name="wheel_front_right" parent="arm_front_right" xyz="0 0 -0.3" rpy="0 0 0"/>

  <xacro:arm name="arm_rear_left" parent="base_link" xyz="0.65 0.45 -0.3" rpy="0 -0.6 0"/>
  <xacro:wheel name="wheel_rear_left" parent="arm_rear_left" xyz="0 0 -0.3" rpy="0 0 0"/>

  <xacro:arm name="arm_rear_right" parent="base_link" xyz="0.65 -0.45 -0.3" rpy="0 -0.6 0"/>
  <xacro:wheel name="wheel_rear_right" parent="arm_rear_right" xyz="0 0 -0.3" rpy="0 0 0"/>

  <gazebo>
    <static>false</static>
  </gazebo>

</robot>
