<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Braço do robô -->
   <xacro:macro name="arm" params="name parent xyz rpy">
    <link name="${name}">
      <visual>
        <geometry>
          <cylinder length="1.1" radius="0.1"/>
        </geometry>
        <material name="gray"/>
      </visual>
      
      <collision>
        <geometry>
          <cylinder length="1.1" radius="0.1"/>
        </geometry>
      </collision>
      
      <inertial>
        <origin xyz="0 0 0.55" rpy="0 0 0"/>
        <mass value="12.5"/>
        <inertia
          ixx="${(1.0/12.0) * 12.5 * (3*(0.1*0.1) + 1.1*1.1)}"
          iyy="${(1.0/12.0) * 12.5 * (3*(0.1*0.1) + 1.1*1.1)}"
          izz="${(1.0/2.0) * 12.5 * (0.1*0.1)}"
          ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="joint_${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

</robot>